.star {
    display: inline;
    color: red
}

.sl-box {
    display: block;
    padding: 20px;
    width: 250px;
    height: 270px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 30px;
}

.sl-box h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #000; /* box text */
    border-bottom: 2px dotted #d9c8be;
}

.su-box {
    display: block;
    padding: 20px;
    width: 947px;
    height: 900px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 30px;
}

.su-box h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #000; /* box text */
    border-bottom: 2px dotted #d9c8be;
}
