{% extends 'layout.html' %}
{% block content %}
    <div class="box b-box">
        <form method="POST" action="/submit-paper/" class="cmxform" enctype="multipart/form-data">
            {% csrf_token %}
            <table style="width: 75%">
                <tr>
                    <td>
                        <label for="title">Title</label>
                    </td>
                    <td>
                        <input id="title" type="text" class="form-control" name="title"
                               style="width: 100%; margin-top: 1.5%; height: 30px; font-family: monospace" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="keyword">keywords</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="keywords"
                               style="width: 100%; margin-top: 1.5%; height: 30px; font-family: tahoma"
                               placeholder="please separate keywords by semicolon(;)" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="author">Authors</label>
                    </td>
                    <td>
                            <textarea class="form-control" name="authors" rows="4" cols="10"
                                      style="margin-top: 1.5%; resize: none; font-family: tahoma"
                                      placeholder="One Author per line" required></textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="upload">Upload Paper</label>
                    </td>
                    <td>
                        <input type="file" name="paper_file" style="margin-top: 1.5%" required>
                    </td>
                </tr>

            </table>
            <input class="btn btn-default" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}